*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: lightgrey;
    padding: 60px;
}

.greetings{
    font-size: 80px;
    margin-bottom: 50px;
}

.input-todo,
.input-date{
    font-size: 28px;
    padding: 20px 26px;
    border-radius: 10px;
    border: 2px solid rgb(214, 214, 215);
    width: 360px;
    margin: 10px;
}

.btn{
    font-size: 26px;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 40px;
    cursor: pointer;
    border: 0;
}

#red{
    font-size: 22px;
    background-color: rgb(151, 54, 54);
    padding: 16px 30px;
}

.js-display{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.todo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 900px;
    max-width: 100%;
    background-color: white;
    padding: 30px 40px;
    border-radius: 16px;
}

.todo-container h4{
    font-size: 30px;
    margin: 0;
    flex: 1;
    text-align: left;
}

