body{
    text-align: center;
    background-color: rgb(175, 174, 172);
}
.greetings{
    font-size: 50px;
}

.input-todo{
    padding: 4px;
}
.input-date{
    padding: 3px 20px ;
}
.btn{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding:4px 14px;
    border-radius: 30px;
    cursor: pointer;
    border:0cap;
}
#red{
    background-color: rgb(151, 54, 54);
    border: 0cap;
    padding:4px 8px;
}
